.notification {
    background: #ffdce0;
    padding: 10px;
    border: 1px solid #86181d;
    border-radius: 10px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 30px;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 1000000;
}

.notification__text {
    font-size: 16px;
    color: #86181d;
}

.notification__button {
    font-family: 'Arial';
    font-size: 14px;
    color: #86181d;
    border: none;
    background: none;
    outline: none;
    padding: 0;
    cursor: pointer;
}

.notification.not-error {
    background: #98fb98;
    border: 1px solid #006400;
}

.notification.not-error .notification__text {
    color: #006400;
}

.notification.not-error .notification__button {
    color: #006400;
}
