@import "../button-menu/button-menu.css";

.header {
    background: var(--main-color);
    position: fixed;
    z-index: 10000;
    width: 100%;
}

.header__content {
    padding: 22px 20px;
}

.header__user {
    font-size: 20px;
    color: var(--white);
}

@media (max-width: 576px) {
    .header__content {
        display: flex;
        align-items: center;
    }

    .header__button-menu {
        margin-right: 10px;
    }
}
