extends blocks/template-post/template-post.pug

block data
    -
        var data = {
            activeElement: "Friends posts",
            script: 'friends-posts',
        }

block content
    div(class="posts-content")
        div(class="sort posts-content__sort")
            button(class="button sort__button") &#8593; &#8595;
        
        div(class="posts-list")
