extends blocks/template-home/template-home.pug

block data
    -
        var data = {
            activeElement: "Friends posts",
        }

block content
    div(class="posts-content")
        include blocks/search/search.pug
        +search(obj)(class="posts-content__search")

        include blocks/filter/filter.pug
        +filter({
            title: "Filter",
            firstTypeSort: "Name",
            secondTypeSort: "Data",
        })(class="posts-content__filter")

        include blocks/filter/filter.pug
        +filter({
            title: "Sort",
            firstTypeSort: "Ascending",
            secondTypeSort: "Descending",
        })(class="posts-content__filter")

        div(class="posts-list")
            include blocks/posts-item/post-item.pug
            -
                var posts = [
                    {
                        title: "Lorem ipsum dolor sit amet",
                        text: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius libero quibusdam quia quaerat est accusamus ab aut qui. Ex blanditiis nostrum dolores aut molestias obcaecati et, iure quaerat distinctio perferendis.",
                        user: "Lorem lorem",
                        time: "10-10-2017",
                    },

                    {
                        title: "Lorem ipsum dolor sit amet",
                        text: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius libero quibusdam quia quaerat est accusamus ab aut qui. Ex blanditiis nostrum dolores aut molestias obcaecati et, iure quaerat distinctio perferendis.",
                        user: "Lorem lorem",
                        time: "11-10-2017",
                    },

                    {
                        title: "Lorem ipsum dolor sit amet",
                        text: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius libero quibusdam quia quaerat est accusamus ab aut qui. Ex blanditiis nostrum dolores aut molestias obcaecati et, iure quaerat distinctio perferendis.",
                        user: "Lorem lorem",
                        time: "12-10-2017",
                    },

                    {
                        title: "Lorem ipsum dolor sit amet",
                        text: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius libero quibusdam quia quaerat est accusamus ab aut qui. Ex blanditiis nostrum dolores aut molestias obcaecati et, iure quaerat distinctio perferendis.",
                        user: "Lorem lorem",
                        time: "13-10-2017",
                    },

                    {
                        title: "Lorem ipsum dolor sit amet",
                        text: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius libero quibusdam quia quaerat est accusamus ab aut qui. Ex blanditiis nostrum dolores aut molestias obcaecati et, iure quaerat distinctio perferendis.",
                        user: "Lorem lorem",
                        time: "14-10-2017",
                    }
                ]

            each obj in posts
                +post(obj)

        button(class="button button--more" type="button") Show more
