extends blocks/template-home/template-home.pug

block data
    -
        var data = {
            activeElement: "Friends posts",
            script: 'friends-post',
        }

block content
    div(class="posts-content")

        div(class="posts-list")

        button(class="button button--more" type="button") Show more
