extends blocks/template-home/template-home.pug

block data
    -
        var data = {
            activeElement: "Friends posts",
            script: 'friends-posts',
        }

block content
    div(class="posts-content")

        div(class="posts-list")

        div(class="posts-content__buttons-sort")
            button(class="button button--asd posts-content__button-sort") По возрастанию
            button(class="button button--desc posts-content__button-sort") По убыванию

        button(class="button button--more" type="button") Show more
