extends blocks/template-home/template-home.pug

block data
    -
        var data = {
            activeElement: "",
            script: "home",
        }

block content
    div(class="search-content")

        include blocks/search/search.pug
        +search(obj)(class="search-content__form")

        div(class="sort posts-content__sort")
            button(class="button sort__button") &#8593; &#8595;

        div(class="users")

