extends blocks/template-home/template-home.pug

block data
    -
        var data = {
            activeElement: "",
            script: "home",
        }

block content
    div(class="search-content")

        include blocks/search/search.pug
        +search(obj)(class="search-content__form") 

        div(class="users")

        div(class="error error--user")
            p(class="error__text") User not found!

