extends blocks/template-home/template-home.pug

block data
    -
        var data = {
            activeElement: "",
        }

block content
    div(class="search-content")

        include blocks/search/search.pug
        +search(obj)(class="search-content__form")

        include blocks/filter/filter.pug
        +filter()
