extends blocks/template-post/template-post.pug

block data
    -
        var data = {
            activeElement: "My posts",
            script: 'my-posts',
        }

block content
    div(class="posts-content")
        div(class="posts-list")
