extends blocks/template-home/template-home.pug

block data
    -
        var data = {
            activeElement: "My posts",
            script: 'my-posts',
        }

block content
    div(class="posts-content")
        div(class="posts-list")

        //- button(class="button button--more" type="button") Show more
