extends blocks/template-authentication/template-authentication.pug

block data
    -
        var data = {
            script: "sign-up",
        }

block content
    div(class="authentication page__authentication")
        include blocks/form/form.pug
        +form({
            title: "Sign-up",
            signUp: true,
            labelUser: "Name",
            labelEmail: "Email",
            labelPassword: "Password",
        })

        include blocks/registration/registration.pug
        +registration({
            text: 'If you already have a profile, log in',
            buttonText: 'Sign-in',
        })
