mixin registration()
    div(class="registration")
        p(class="registration__text") Create your own profile

        include ../button/button.pug
        +button({
            type: "button",
            text: "Sign-up",
        })(class="registration__button")

    // END .registration
