mixin registration(obj)
    div(class="registration")
        p(class="registration__text") !{obj.text}

        include ../button/button.pug
        +button({
            type: "button",
            text: obj.buttonText,
        })(class="registration__button")

    // END .registration
