mixin sort()
    div(class="sort")&attributes(attributes)
        button(class="button sort__button sort__button--asc" type="button") Ascending
        button(class="button sort__button sort__button--desc" type="button") Descending

    // END .sort
