.user {
    box-shadow: 0 0 10px var(--main-color);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user__name {
    font-size: 20px;
    font-weight: 500;
}

.user__following {
    background: url('../../images/svg-icon/like.svg');
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 0;
}

.user__following.friend {
    background: url('../../images/svg-icon/like-active.svg');
}

.user__date-registration {
    font-size: 18px;
    font-weight: 500;
}
