@import "../posts-list/posts-list.css";
@import "../search/search.css";
@import "../users/users.css";
@import "../add-post/add-post.css";

.posts-content {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 66px;
    left: 300px;
    overflow-x: hidden; 
    max-width: calc(100% - 300px);
    width: 100%;
    padding: 25px 25px 0 25px;
    box-sizing: border-box;
}

.posts-content__sort {
    margin-bottom: 20px;
}

@media (max-width: 991px) {
    .posts-content {
        max-width: calc(100% - 250px);
        left: 250px;
    }
}

@media (max-width: 768px) {
    .posts-content {
        padding: 20px 10px;
        max-width: calc(100% - 200px);
        left: 200px;
    }
}

@media (max-width: 576px) {
    .posts-content {
        max-width: 100%;
        left: 0;
    }
}
