.error {
    text-align: right;
    color: red;
    margin-top: 5px;
    display: none;
}

.error.active {
    display: block;
}

.error--user {
    background: rgba(225, 36, 0, 0.3);
    padding: 20px;
    border: 1px solid red;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}
