mixin nav(activeElement)
    nav(class="nav")
        ul(class="nav__list")
            -
                var navList = [
                    {
                        text: "Home",
                        href: "/home",
                    },
                    {
                        text: "My posts",
                        href: "/my-posts",
                    },
                    {
                        text: "Friends posts",
                        href: "/friends-posts",
                    },
                    {
                        text: "Add post",
                        href: "/post",
                    },
                ]

            each item in navList
                - var modActive = ""
                if activeElement == item.text
                    - modActive = " nav__item--active"

                li(class="nav__item" + modActive)
                    a(href=item.href class="nav__link") !{item.text}
    // END .nav
