mixin nav(activeElement)
    nav(class="nav")
        ul(class="nav__list")
            -
                var navList = [
                    {
                        text: "My posts",
                        href: "index",
                    },
                    {
                        text: "Friends posts",
                        href: "friends-posts",
                    },
                    {
                        text: "Add post",
                        href: "add-post",
                    },
                ]

            each item in navList
                - var modActive = ""
                if activeElement == item.text
                    - modActive = " nav__item--active"

                li(class="nav__item" + modActive)
                    a(href=item.href + ".html" class="nav__link") !{item.text}
// END .nav
