.search {
    max-width: 100%;
    padding: 0;
    box-shadow: none;
    margin: 0;
    display: flex;
    align-items: center;
}

.search__form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.search__input {
    margin: 0;
    width: calc(100% - 112px);
}

.search__button {
    max-width: 100px;
    width: 100%;
}

.search__filter {
    margin-top: 30px;
}

@media (max-width: 768px) {
    .search__input {
        width: calc(100% - 70px);
    }
    
    .search__button {
        max-width: 70px;
    }
}
