mixin search(obj)
    div(class="form search")&attributes(attributes)
        form(class="search__form" method="post" action="#5")
            input(type="text" class="search__input form__input" placeholder="Search")
            button(type="submit" class="button search__button") Search

    // END .search
