mixin search(obj)
    div(class="form search")&attributes(attributes)
        form(class="search__form" onsubmit = "return false")
            input(type="text" class="search__input form__input" placeholder="Search")
            button(type="submit" class="button search__button") Search

            include ../filter/filter.pug
            +filter()(class="search__filter")

    // END .search
