.user-like {
    border: none;
    background: none;
    outline: none;
    padding: 0;
}

.user-like .user-like__image--active {
    display: none;
}

.user-like.friend .user-like__image--active {
    display: block;
    height: 22px;
    position: relative;
    top: -3px;
}

.user-like.friend .user-like__image--not-active {
    display: none;
}

.user-like__image {
    width: 23px;
    height: 20px;
}
