.filter {
    
}

.filter__title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.filter__list {
    list-style: none;
    display: flex;
}

.filter__item {
    margin-right: 10px;
}
