.filter {
    list-style: none;
    display: flex;
    padding-left: 30px;
}

.filter__item {
    margin-right: 50px;
}

.filter__input {
    display: none;
}

.filter__label {
    position: relative;
}

.filter__label::before {
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid var(--main-color);
    cursor: pointer;
}

.filter__input:checked + .filter__label:before {
    background: var(--main-color);
}
