mixin filter()
    div(class="filter")&attributes(attributes)
        ul(class="filter__list")
            -
                var navList = [
                    {
                        name: "name",
                    },

                    {
                        name: "data",
                    },

                    {
                        name: "ascending",
                    },

                    {
                        name: "descending",
                    },
                ]

            each item in navList

                li(class="filter__item")
                    input(class="filter__input" type="checkbox" name=item.name id=item.name) 
                    label(class="filter__label" for=item.name) !{item.name}
