mixin filter()
    div(class="filter")&attributes(attributes)
        div(class="filter__item")
            input(class="filter__input" type="radio" name="name" id="name") 
            label(class="filter__label" for="name") Name
        div(class="filter__item")    
            input(class="filter__input" type="radio" name="name" id="date") 
            label(class="filter__label" for="date") Date
        div(class="filter__item")
            input(class="filter__input" type="radio" name="sort" id="ascending") 
            label(class="filter__label" for="ascending") Ascending
        div(class="filter__item")
            input(class="filter__input" type="radio" name="sort" id="descending") 
            label(class="filter__label" for="descending") Descending        

    // END .filter               
